{% comment %}
  The Top Bar
{% endcomment %}

<div id="topbar-wrapper">
  <div id="topbar" class="container d-flex align-items-center justify-content-between h-100 pl-3 pr-3 pl-md-4 pr-md-4">
    <span id="breadcrumb">
      
      {% comment %} remove `index` page slug from path {% endcomment %}
      {% if page.slug == 'index' %}
          {% assign paths = page.url | remove: page.slug | split: '/' %}
      {% else %}
          {% assign paths = page.url | split: '/' %}
      {% endif %}
  
      {% if paths.size == 0 or page.layout == 'home' %} {% comment %} default breadcrumb {% endcomment %}
        <span>{{ site.data.locales[lang].tabs.home | capitalize }}</span>
  
      {% else %}
        {% for item in paths %}
          {% comment %} breadcrumb path so far {% endcomment %}
          {% assign forloop_path = forloop_path | append: item | append: "/" %}
        
          {% case forloop.index %}
            {% comment %} first item in breadcrumb - Home {% endcomment %}
            {% when 1 %}
              {% assign breadcrumb_url = forloop_path | relative_url %}
              {% assign breadcrumb_title = site.data.locales[lang].tabs.home | capitalize %}
            
            {% comment %} second item in breadcrumb, expected to be a sidebar page {% endcomment %}
            {% when 2 %}
              {% assign breadcrumb_url = forloop_path | remove_first: "/" | relative_url %}
              {% assign breadcrumb_title = site.data.locales[lang].tabs[item] | capitalize %}
            
            {% comment %} other item in breadcrumb {% endcomment %}
            {% comment %} the breadcrumb (page) title is fetched based on the breadcrumb path so far {% endcomment %}
            {% else %}
              {% assign breadcrumb_url = forloop_path | remove_first: "/" | relative_url %}
              {% comment %} find the page/document corresponding to the path so far {% endcomment %}
              {% assign forloop_path_index = forloop_path | append: "index" %}
              {% assign forloop_path_page = site.pages | find_exp: "item", "item.url == forloop_path or item.url == forloop_path_index" %}
              {% unless forloop_path_page %}
                {% assign forloop_path_page = site.documents | find_exp: "item", "item.url == forloop_path or item.url == forloop_path_index" %}
              {% endunless %}
              {% assign breadcrumb_title = forloop_path_page.title %}
          {% endcase %}
        
          <span>
            {% unless forloop.last %}
              <a href="{{ breadcrumb_url }}">
                {{ breadcrumb_title }}
              </a>
            {% else %}
              {{ breadcrumb_title }}
            {% endunless %}
          </span>

        {% endfor %}
      {% endif %}
    </span> <!-- endof #breadcrumb -->

    <i id="sidebar-trigger" class="fas fa-bars fa-fw"></i>

    <div id="topbar-title">
      {% if page.url == '/' %}
        {{- site.data.locales[lang].title | default: site.title -}}
      {% elsif page.collection == 'tabs' or page.layout == 'page' %}
        {%- capture tab_key -%}{{ page.url | split: '/' }}{%- endcapture -%}
        {{- site.data.locales[lang].tabs[tab_key] | default: page.title -}}
      {% else %}
        {{- site.data.locales[lang].layout[page.layout] | default: page.layout | capitalize -}}
      {% endif %}
    </div>

    <i id="search-trigger" class="fas fa-search fa-fw"></i>
    <span id="search-wrapper" class="align-items-center">
      <i class="fas fa-search fa-fw"></i>
      <input class="form-control" id="search-input" type="search"
        aria-label="search" autocomplete="off" placeholder="{{ site.data.locales[lang].search.hint | capitalize }}...">
    </span>
    <span id="search-cancel" >{{ site.data.locales[lang].search.cancel }}</span>
  
  </div>

</div>
