{% comment %}
  The Top Bar
{% endcomment %}

<div id="topbar-wrapper">
  <div id="topbar" class="container d-flex align-items-center justify-content-between h-100 pl-3 pr-3 pl-md-4 pr-md-4">
    <span id="breadcrumb">
      
      {% comment %} remove `index` page slug from path {% endcomment %}
      {% if page.slug == 'index' %}
          {% assign paths = page.url | remove: page.slug | split: '/' %}
      {% else %}
          {% assign paths = page.url | split: '/' %}
      {% endif %}
  
      {% if paths.size == 0 or page.layout == 'home' %} {% comment %} default breadcrumb {% endcomment %}
        <span>{{ site.data.locales[lang].tabs.home | capitalize }}</span>
  
      {% else %}
        {% for item in paths %}
          {% comment %} first item in breadcrumb {% endcomment %}
          {% if forloop.first %}
            <span>
              <a href="{{ '/' | relative_url }}">
                {{ site.data.locales[lang].tabs.home | capitalize }}
              </a>
            </span>
          
          {% comment %} last item in breadcrumb {% endcomment %}
          {% elsif forloop.last %}
            {% if page.collection == 'tabs' %}
              <span>{{ site.data.locales[lang].tabs[item] | default: page.title }}</span>
            {% else %}
              <span>{{ page.title }}</span>
            {% endif %}
  
          {% comment %} middle breadcrumb {% endcomment %}
          {% else %}
            {% comment %} construct path so far (in the parent for-loop) {% endcomment %}
            {% assign path_item_url = "" %}
            {% for path_segment in paths limit: forloop.index %}
              {% assign path_item_url = path_item_url | append: path_segment | append: "/" %}
            {% endfor %}

            {% assign path_item_index_url = path_item_url | append: "index" %}
            
            {% comment %} find the page corresponding to the path so far {% endcomment %}
            {% assign path_page = site.pages | find_exp: "item", "item.url == path_item_url or item.url == path_item_index_url" %}
            {% unless path_page %}
              {% assign path_page = site.documents | find_exp: "item", "item.url == path_item_url or item.url == path_item_index_url" %}
            {% endunless %}

            <span>
              <a href="{{ path_item_url | remove_first: "/" | relative_url }}">
                {{ path_page.title }}
              </a>
            </span>
          {% endif %}
        {% endfor %}
      {% endif %}
    </span> <!-- endof #breadcrumb -->

    <i id="sidebar-trigger" class="fas fa-bars fa-fw"></i>

    <div id="topbar-title">
      {% if page.url == '/' %}
        {{- site.data.locales[lang].title | default: site.title -}}
      {% elsif page.collection == 'tabs' or page.layout == 'page' %}
        {%- capture tab_key -%}{{ page.url | split: '/' }}{%- endcapture -%}
        {{- site.data.locales[lang].tabs[tab_key] | default: page.title -}}
      {% else %}
        {{- site.data.locales[lang].layout[page.layout] | default: page.layout | capitalize -}}
      {% endif %}
    </div>

    <i id="search-trigger" class="fas fa-search fa-fw"></i>
    <span id="search-wrapper" class="align-items-center">
      <i class="fas fa-search fa-fw"></i>
      <input class="form-control" id="search-input" type="search"
        aria-label="search" autocomplete="off" placeholder="{{ site.data.locales[lang].search.hint | capitalize }}...">
    </span>
    <span id="search-cancel" >{{ site.data.locales[lang].search.cancel }}</span>
  
  </div>

</div>
